.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style-type: circle;
}

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
  width: 136px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
}

.address a {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__address {
  justify-self: end;
  gap: 2px;
  max-width: 240px;
  line-height: 135%;
}

.header__address a {
  line-height: 120%;
}

.content-section {
  width: 100%;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-position: center top;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  z-index: 1;
  width: 100%;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1.5;
  text-align: center;
}

.aligned-text_right {
  line-height: 1.2;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  z-index: 1;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  z-index: 1;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: white;
  font: inherit;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  width: 100%;
  margin: 180px 0px 120px;
  padding: 0 24px;
}

.lots__heading {
  padding: 0 0 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.card-link,
.card {
  height: 100%;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 30px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style-type: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
}

.lots__look-more-link {
  position: relative;
  left: 40px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  align-items: center;
  column-gap: 25px;
  padding: 35px 24px 0 24px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: start;
  width: 240px;
  height: 240px;
  border-radius: 200px;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 100px 0 100px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text {
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  margin-top: 180px;
  padding: 0 50px 82px;
  font-size: 18px;
}

.footer-address {
  gap: 2px;
  line-height: 130%;
}

.footer-address a {
  line-height: 120%;
}

.footer__menu-list {
  justify-items: center;
  justify-self: center;
  list-style-type: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}